.form-control {
	border-radius: 0px;
}
.font-format, 
.font-format:focus,
.font-format:hover {
	font-size: 12px;
	font-family: monospace;
	background-color: #353535;
	color: wheat;
}
.menu {
	list-style: circle;
}

.menu-group {
	font-weight: bold;
}