.form-control {
	border-radius: 0px;
}
.font-format, 
.font-format:focus,
.font-format:hover {
	font-size: 12px;
	font-family: monospace;
	background-color: #353535;
	color: wheat;
}
.menu {
	list-style: circle;
}

.menu-group {
	font-weight: bold;
}

#droppable-zone {
  border: 10px dashed #ccc;
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#droppable-zone.hover {
  border: 10px dashed #aaa;
}

#droppable-zone-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

#droppable-zone-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 33px;
  overflow: hidden;
}

.droppable-file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}